<div class="row mt-3 mb-3">
  <div class="h1">Общая информация</div>
</div>
<div class="row mt-3 mb-3">
  <div class="col d-flex flex-column">
    <div class="">
      <span class="fw-bold">Имя:</span>
      <span><%= current_user.name%> <small> (subdomain - <%= current_user.subdomain%>)</small></span>
      <span><%= link_to edit_icon, edit_user_path( current_user )%></span>
    </div>
    <div class="">
      <span class="fw-bold">Оплачен до:</span>
      <span><%= !@pay_period.nil? ? @pay_period :  'Бесплатно'%></span>
    </div>
    <div class="">
      <span class="fw-bold">Работает до:</span>
      <span><%= current_user.valid_until.strftime("%d-%m-%Y" ) if current_user.valid_until.present? %></span>
    </div>
    <div class="">
      <span class="fw-bold">Название магазина:</span>
      <span><%= @ins_account.title if @ins_account %></span>
    </div>
    <div class="">
      <span class="fw-bold">Телефон:</span>
      <span><%= @ins_account.phone if @ins_account%></span>
    </div>
    <div class="">
      <span class="fw-bold">Email:</span>
      <span><%= current_user.email %></span>
    </div>
    <div class="col d-flex flex-column mt-4">
      <div class="h3">Последние счета</div>
      <%= tag.table class:"table" do %>
        <thead class="thead-light">
          <tr>
            <th>Номер счета</th>
            <th>Период продления</th>
            <th>Сумма</th>
            <th>Статус</th>
            <th>Оплачен</th>
          </tr>
        </thead>
        <tbody>
          <% Invoice.all.order(:id).limit(5).each do |invoice| %>
            <tr>
              <td><%= link_to invoice.id , invoice %></td>
              <td><%= invoice.payplan.period if invoice.payplan != nil%></td>
              <td><%= invoice.sum %></td>
              <td><%= invoice.status %></td>
              <td><%= render 'invoices/invoice_status', f: invoice%></td>
            </tr>
          <% end %>
        </tbody>
      <% end if Invoice.all.count > 0 %>
      <%= link_to 'Новый счет', new_invoice_path, class: 'btn btn-outline-primary my-3 w-50' %>
    </div>
  </div>
  <div class="col d-flex flex-column">
    <div class="d-flex flex-column">
      <div class="h3">Интеграция insales</div>
      <% int_present = current_user.insints.first.present? ? true : false %>
      <% integracia = current_user.insints.first if int_present %>
      <span>Состояние: <%= integracia ? 'настроена' : 'не настроена' %></span>
      <% if int_present %>
        <% if integracia.inskey.present? %>
          <%= link_to 'Редактировать интеграцию', edit_insint_path(integracia.id), class: 'btn btn-outline-primary my-3 w-50' %>
        <% else %>
          <% if integracia.subdomen.present? %>
            <p>Регистрация настроена автоматически</p>
          <% else %>
            <%= link_to 'Добавить интеграцию', new_insint_path, class: 'btn btn-outline-primary mb-3' %>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to 'Добавить интеграцию', new_insint_path, class: 'btn btn-outline-primary my-3 w-50' %>
      <% end %>
    </div>
    <div class="d-flex flex-column">
      <div class="h3">Юр лица</div>
      <%= tag.table class:"table" do %>
        <thead class="thead-light">
          <tr>
            <th>Название</th>
            <th>ИНН</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% Company.all.each do |company| %>
            <tr>
              <td><%= company.title %></td>
              <td><%= company.inn %></td>
              <td><%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_company_path(company) %></td>
              <td><%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      <% end if Company.all.count > 0 %>
      <%= link_to 'Добавить компанию', new_company_path, class: 'btn btn-outline-primary my-3 w-50' %>
    </div>
    <div class="d-flex flex-column">
      <div class="d-flex align-items-center justify-content-between">
        <div class="h3">Пользователи</div>
        <%= link_to add_icon, new_useraccount_path, class: "btn btn-outline-primary btn-sm float-end", data: {turbo_frame: dom_id(current_user, dom_id(Useraccount.new)) } %>
      </div>

      <%= turbo_frame_tag dom_id(current_user, dom_id(Useraccount.new)) %>

      <div class="col-12 list-group list-group-striped">
        <div class="row py-2 px-4">
          <%= tag.div('Имя', class: 'col-3 fw-semibold')%> 
          <%= tag.div('Email', class: 'col-2 fw-semibold')%>
          <%= tag.div( 'Магазин', class: 'col-2 fw-semibold' )%>
          <%= tag.div( 'id в магазине', class: 'col-2 fw-semibold' )%>
          <%= tag.div('', class: 'col-1 fw-semibold')%>
        </div>
        <%= turbo_stream_from "useraccounts" %>    
        <%= turbo_frame_tag dom_id(current_user, :useraccounts), data: { } do %>
          <% Useraccount.all.each do |useraccount|%>
            <%= render partial: "useraccounts/useraccount", locals: {useraccount: useraccount} %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
