<div class="row mt-3 mb-3">
  <div class="col"><h1>Общая информация</h1></div>
</div>
<div class="row mt-3 mb-3">
  <div class="col">
    <p><b>Имя:</b> <%= link_to current_user.name, edit_user_path( current_user )%><small> (subdomain - <%= current_user.subdomain%>)</small></p>
    <p><b>Оплачен до:</b>  <% if !@pay_period.nil?%><%= @pay_period %><%else%>Бесплатно<%end%></p>
    <p><b>Работает до:</b>  <%= current_user.valid_until.strftime("%d-%m-%Y" ) if current_user.valid_until.present?  %></p>
    <p><b>Название магазина: </b><%= @ins_account.title if @ins_account %></p>
    <p><b>Телефон:</b> <%= @ins_account.phone if @ins_account%></p>
    <p><b>Email:</b> <%= current_user.email %></p>
  </div>
  <div class="col">
    <h3>Интеграция insales</h3>
      <% int_present = current_user.insints.first.present? ? true : false %>
      <% integracia = current_user.insints.first if int_present %>
      <p>Состояние:
        <% if integracia %>настроена<% else %>не настроена<% end %>
      </p>
      <% if int_present %>
        <% if integracia.inskey.present? %>
          <%= link_to 'Редактировать интеграцию', edit_insint_path(integracia.id), class: 'btn btn-outline-primary mb-3' %>
        <% else %>
          <% if integracia.subdomen.present? %>
            <p>Регистрация настроена автоматически</p>
          <% else %>
            <%= link_to 'Добавить интеграцию', new_insint_path, class: 'btn btn-outline-primary mb-3' %>
          <% end %>
        <% end %>
      <% else %>
        <%= link_to 'Добавить интеграцию', new_insint_path, class: 'btn btn-outline-primary mb-3' %>
      <% end %>
      <h3>Юр лица</h3>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>Название</th>
            <th>ИНН</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% Company.all.each do |company| %>
            <tr>
              <td><%= company.title %></td>
              <td><%= company.inn %></td>
              <td><%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_company_path(company) %></td>
              <td><%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, company, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'Добавить компанию', new_company_path, class: 'btn btn-outline-primary mb-3' %>
      <h3>Пользователи</h3>
<%= link_to "<i class='bi bi-plus'></i> пользователь".html_safe, 
    new_useraccount_path, class: "btn btn-primary float-end mt-n1", data: {turbo_frame: dom_id(Useraccount.new) } %>
        <%# link_to 'Добавить пользователя магазина', new_useraccount_path, class: 'btn btn-outline-primary mb-3' %>

            <%= turbo_frame_tag Useraccount.new %>

        <div class="col-12 list-group list-group-striped">
          <div class="row py-2 px-4">
            <%= tag.div('Имя', class: 'col-3 fw-semibold')%> 
            <%= tag.div('Email', class: 'col-2 fw-semibold')%>
            <%= tag.div( 'Магазин', class: 'col-2 fw-semibold' )%>
            <%= tag.div( 'id в магазине', class: 'col-2 fw-semibold' )%>
            <%= tag.div('', class: 'col-1 fw-semibold')%>
          </div>
          <%= turbo_frame_tag 'useraccounts', data: { } do %>
              <% Useraccount.all.each do |useraccount|%>
                <%= render partial: "useraccounts/useraccount", locals: {useraccount: useraccount} %>
              <% end %>
          <% end %>
        </div>

    </div>
  </div>
  <div class="row mt-2">
    <div class="col-6">
      <h3>Последние счета</h3>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>Номер счета</th>
            <th>Период продления</th>
            <th>Сумма</th>
            <th>Статус</th>
            <th>Оплачен</th>
          </tr>
        </thead>

        <tbody>
          <% Invoice.all.order(:id).limit(5).each do |invoice| %>
            <tr>
              <td><%= link_to invoice.id , invoice %></td>
              <td><%= invoice.payplan.period if invoice.payplan != nil%></td>
              <td><%= invoice.sum %></td>
              <td><%= invoice.status %></td>
              <td><%= render 'invoices/invoice_status', f: invoice%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'Новый счет', new_invoice_path, class: 'btn btn-outline-primary mt-2' %>
    </div>
    <div class="col"></div>
  </div>
