
<%= turbo_frame_tag dom_id(current_user, dom_id(message_setup)) do %>
  <%= form_with(model: message_setup, class: "my-4" ) do |f| %>
    <%= render "shared/errors", object: message_setup %>
    <div class="d-flex flex-row align-items-center">
        <%= f.text_field :title, class: "disabled d-none", readonly: true %>
        <%= f.text_field :handle, class: "disabled d-none", readonly: true %>
        <%= f.text_field :description, class: "disabled d-none", readonly: true %>
        <%= f.text_field :status, class: "disabled d-none", readonly: true %>
        <%= f.text_field :payplan_id, class: "disabled d-none", readonly: true %>
        <%= f.text_field :valid_until, class: "disabled d-none", readonly: true %>
        <%= f.text_field :product_xml, class: "col form-control", placeholder: 'ссылка' %>

      <div class="col ms-2 form-actions d-flex flex-row">
        <%= f.submit t('save'), class: "btn btn-primary" %>
        <%= link_to close_icon, :back, class: "btn btn-outline-secondary" %>
      </div>
    </div>
  <% end %>
<% end %>

