
<div class="row">
<div class="col-6">
  <strong>Title:</strong>
  <%= @message_setup.title %>
</div>

<div class="col-6">
  <strong>Handle:</strong>
  <%= @message_setup.handle %>
</div>

<div class="col-6">
  <strong>Description:</strong>
  <%= @message_setup.description %>
</div>

<div class="col-6">
  <strong>Status:</strong>
  <%= @message_setup.status %>
</div>

<div class="col-6">
  <strong>Payplan:</strong>
  <%= @message_setup.payplan %>
</div>

<div class="col-6">
  <strong>Valid until:</strong>
  <%= @message_setup.valid_until %>
</div>

</div>

<div class="row">
<div class="col-3 btn-group mt-5">
<%= link_to 'Edit', edit_message_setup_path(@message_setup) , class: 'btn btn-success' %> |
<%= link_to 'Back', message_setups_path, class: 'btn btn-outline-primary' %>
</div>
</div>
