
<%= simple_form_for(invoice, wrapper: :horizontal_form) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="row mt-3">
    <div class="col-12 h4"><%= page_title %></div>
    <div class="payplan-wrapper mt-5">
      <%= f.input :payertype, as: :radio_buttons,
                              collection: [['fiz', 'Физ лицо'], ['ur', 'Юр лицо']],
                              label_method: :second, 
                              value_method: :first,
                              label: 'Выберите тип плательщика:',
                              checked: 'fiz',
                              wrapper: :horizontal_collection %>
      <%# f.association :payplan, as: :radio_buttons, label_method: lambda { |plan| "Период продления #{plan.period}. Стоимость -  #{plan.price} руб" }, value_method: :id,
       #checked: 2,
      label: false, input_html: { class: 'payplan-item-wrapper' }, wrapper_html: { class: 'text-center mt-3 mb-3'} %>
      <% collection = @invoice.payplan_id.present? ? Payplan.where(id: @invoice.payplan_id) : Payplan.where("handle ILIKE ANY (array[?])",["%message%","%extra%","%favorite%"]).where.not("handle ILIKE ANY (array[?])",["%free%"])%>
      <%= f.association :payplan, collection: collection,
                                  as: :radio_buttons,
                                  label: 'Выберите услугу:',
                                  #label_method: lambda { |plan| "Период продления #{plan.period}. Стоимость -  #{plan.price} руб" },
                                  value_method: :id,
                                  wrapper: :horizontal_collection,
                                  wrapper_html: {class: 'mt-4'}  %>
      <% credit_text = '<img style="max-width: 120px;" src="/visa-master.png" alt="Visa master"></br>(МИР, СБП, Webmoney, Сбербанк Онлайн, Apple Pay, Яндекс.Деньги, Альфа-Клик)' %>
      <%= f.input :paymenttype, as: :radio_buttons, 
                                collection: [['invoice', 'Счёт для юр лиц'],['creditcard', 'Кредитные карты'], ['sbp', 'СБП'], ['paypal', 'Paypal']],
                                label: 'Выберите способ оплаты:',
                                label_method: lambda { |paymenttype|
                                                        paymenttype[0] != 'creditcard' ? "#{paymenttype[1]}" : "#{credit_text}".html_safe
                                                      },
                                value_method: :first, 
                                disabled: 'paypal', 
                                checked: 'creditcard',
                                wrapper: :horizontal_collection,
                                wrapper_html: {class: 'mt-4'} %>
    </div>
    </div>

  <div class="btn-group mt-5">
    <%= f.button :submit, 'Сохранить', class: 'btn btn-success'  %>
    <%= link_to 'Назад', invoices_path, class: 'btn btn-outline-primary'  %>
  </div>
<% end %>
