<div class="row align-items-center mt-3 mb-3">
  <div class="col">
    <h2>Счета</h2>
  </div>
  <div class="col">
    <%= link_to 'Новый счет', new_invoice_path, class: 'btn btn-outline-primary' %>
  </div>
  <div class="col"></div>
</div>
<div class="table-responsive">
  <table class="table table-hover table-condensed">
  <thead>
    <tr class="bg-success">
      <th>#</th>
      <th>Дата</th>
      <th>Сервис</th>
      <th>Период</th>
      <th>Сумма</th>
      <th>Статус</th>
      <th>Способ</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.id %></td>
        <td><%= invoice.created_at.in_time_zone.strftime("%d/%m/%Y %H:%M" ) %></td>
        <td><%= invoice.payplan.title if invoice.payplan %></td>
        <td><%= invoice.payplan.period if invoice.payplan %></td>
        <td><%= invoice.sum %></td>
        <td><%= render 'invoice_status', f: invoice%></td>
        <td><%= invoice.paymenttype %></td>
        <td><%= link_to "Оплатить", edit_invoice_path(invoice), class: 'btn btn-outline-info' if invoice.status != 'Оплачен' && invoice.status != 'Отменён' %></td>
        <%# link_to '<span class="oi oi-trash"></span>'.html_safe, invoice, method: :delete, data: { confirm: 'Вы уверенны?' } if invoice.status != 'Оплачен' %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>