<ul class="nav nav-tabs mt-3 mb-3" id="templateTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="first-tab" data-bs-toggle="tab" data-bs-target="#first-tab-pane" type="button" role="tab" aria-controls="first-tab-pane" aria-selected="true"><%= page_title %></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="second-tab" data-bs-toggle="tab" data-bs-target="#second-tab-pane" type="button" role="tab" aria-controls="second-tab-pane" aria-selected="false">Переменные liquid</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="third-tab" data-bs-toggle="tab" data-bs-target="#third-tab-pane" type="button" role="tab" aria-controls="third-tab-pane" aria-selected="false">Сниппеты liquid</button>
  </li>
</ul>
<div class="tab-content" id="templateTabContent">
  <div class="tab-pane fade active show" id="first-tab-pane" role="tabpanel" aria-labelledby="first-tab" tabindex="0">
   <div class="row">
   <div class="col-6">
    <%= simple_form_for(@template, html: {class: "row"}) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      
      <%= f.input :title, label: "Название шаблона", input_html: {value: @validate_title.present? ? @validate_title : f.object.title}, wrapper_html: {class: "col-12"}  %>
      <div class="col-12 mt-4">
        <% check_receiver = f.object.receiver %>
        <% input_class = check_receiver == "client" ? "col-12 mt-4 form-control d-none" : "col-12 mt-4 form-control" %>
        <label for="" class="me-3">Получатель:</label>
        <input type="radio" class="btn-check" 
                            name="receiver-options" 
                            id="manager-outlined" autocomplete="off"
                            <% if check_receiver != "client"%>checked<% end %> 
                            value="manager">
        <label class="btn btn-outline-success" for="manager-outlined">Менеджер</label>

        <input type="radio" class="btn-check" 
                            name="receiver-options" 
                            id="client-outlined" autocomplete="off" 
                            <% if check_receiver == "client"%>checked<% end %> 
                            value="client">
        <label class="btn btn-outline-success" for="client-outlined">Клиент</label>
      </div>
      <%=f.input :receiver, label: false, input_html: { class: input_class, value: @validate_receiver.present? ? @validate_receiver : check_receiver, placeholder: "адреса через запятую", autocomplete: "off"}%>
      <%# f.input :receiver, label: "Получатель", collection: [['Клиент','client'],['Менеджер','manager']], prompt: false, input_html: { class: "form-select" }, wrapper_html: {class: "col-6"} %>
      
      <%= f.input :subject, label: "Тема письма", input_html: {value: @validate_subject.present? ? @validate_subject : f.object.subject}, wrapper_html: {class: "mt-4"} %>
      <%= f.input :content, label: "Содержание письма", input_html: {id: "template-content", rows: "15", value: @validate_content.present? ? @validate_content : f.object.content} , wrapper_html: {class: "mt-4"}%>
      <div class="col-2 btn-group mt-5 mb-5">
        <%= f.button :submit, 'Сохранить', class: 'btn btn-success' %>
        <%= link_to 'Назад', templates_path, class: 'btn btn-outline-primary' %>
      </div>
     
    <% end %>
     </div>
    <div class="col-6">
    <% if Insint.present_work?%>
      <% if !@template.new_record? %>
      <div class="h6">Заказ инсалес и данные из инсалес</div>
        <%= form_with url: preview_ins_order_templates_path, method: :get, class: "input-group", local: false do |form| %>
          <%= form.select :insales_order_id, @ten_orders, include_blank: "Выберите заказ", class: "form-select" %>
          <%= button_tag(type: 'submit', class: "btn btn-outline-secondary") do %>Предпросмотр<% end %>
        <% end %>
        <%= form_with url: preview_ins_order_templates_path, method: :get, class: "input-group", local: false do |form| %>
          <%= form.text_field :insales_order_id, placeholder: "или введите Id заказа из инсалес", class: "form-control" %>
          <%= button_tag(type: 'submit', class: "btn btn-outline-secondary") do %>Предпросмотр<% end %>
        <% end %>
        <div class="h6 mt-5">Заявки</div>
        <%= form_with url: preview_case_templates_path, method: :get, class: "input-group", local: false do |form| %>
          <%= form.select :case_id, Case.order(id: :desc).limit(10).pluck(:id), include_blank: "Выберите заявку", class: "form-select" %>
          <%= button_tag(type: 'submit', class: "btn btn-outline-secondary") do %>Предпросмотр<% end %>
        <% end %>
        <%= form_with url: preview_case_templates_path, method: :get, class: "input-group", local: false do |form| %>
          <%= form.text_field :case_id, placeholder: "или введите Id заявки", class: "form-control" %>
          <%= button_tag(type: 'submit', class: "btn btn-outline-secondary") do %>Предпросмотр<% end %>
        <% end %>

        <%# form_with url: preview_restock_templates_path, method: :get, class: "input-group mt-2", local: false do |form| %>
          <%# form.select :client_id, Client.order(:id).limit(10).pluck(:name,:id), include_blank: "Выберите клиента", class: "form-select" %>
          <%# button_tag(type: 'submit', class: "btn btn-outline-secondary") do %><%#Предпросмотр<%# end %>
        <%#end %>
        <%# form_with url: preview_restock_templates_path, method: :get, class: "input-group mt-2", local: false do |form| %>
          <%# form.text_field :client_id, placeholder: "или введите Id клиента", class: "form-control" %>
          <%# button_tag(type: 'submit', class: "btn btn-outline-secondary") do %><%#Предпросмотр<%# end %>
        <%#end %>


        <div class="mt-3">
          <div id="order-preview"></div>
          <div id="case-preview"></div>
          <%#<div id="restock-preview"></div>%>
        </div>
      <% else %>
      Сохраните шаблон и появится Предпросмотр
      <% end %> 
      <%else%>
      Не настроена интеграция Insales. Предпросмотр не работает
      <% end %>
    </div>
    </div>
  </div>
  <div class="tab-pane fade" id="second-tab-pane" role="tabpanel" aria-labelledby="second-tab" tabindex="1">
    <div class="col-12">
    <div class="mb-3">Полная информация по <a href="https://liquidhub.ru/collection/shpargalka-liquid" target="_blank">liquid</a></div>
    <%= render 'liquid_help' %>
    </div>
  </div>
  <div class="tab-pane fade" id="third-tab-pane" role="tabpanel" aria-labelledby="third-tab" tabindex="2">
  <%= render 'liquid_snippet' %>
  </div>
</div>
