
<%= simple_form_for(@template, remote: true) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="row">
    <div class="col-12 h3"><%= page_title %></div>
    <div class="col-7">
    <%= f.input :title %>
    <%= f.input :subject %>
    <%= f.input :receiver, label: "Получатель", collection: [['Клиент','client'],['Менеджер','manager']], prompt: false, input_html: { class: "form-select" } %>
    <%= f.input :content, input_html: {id: "template-content", rows: "10"} %>
  </div>
    <div class="col-5">
    <div class="mb-3">Переменные <a href="https://liquidhub.ru/collection/shpargalka-liquid" target="_blank">liquid</a></div>
    <%= render 'liquid_help' %>
    </div>
</div>
  <div class="row">
    <div class="col-2 btn-group mt-5">
      <%= f.button :submit, 'Сохранить', class: 'btn btn-success' %>
      <%= link_to 'Назад', :back, class: 'btn btn-outline-primary' %>
    </div>
  </div>
<% end %>
