<div class="d-flex align-items-center mt-3 mb-3">
  <div class="col-2">
    <div class="h3">Шаблоны</div>
  </div>
  <div class="col-8 px-0 row justify-content-center">
    <%= search_form_for @search, {class: 'form-inline col-10 pl-0 pr-0'} do |f| %>
      <div class="input-group input-group-sm">
        <%= f.search_field :title_eq , placeholder: 'Название шаблона', class: "form-control", style: "max-width: 180px;" %>
        <%= button_tag(type: 'submit', :class => "btn btn-outline-primary") do %><%= search_icon %><% end %>
        <%= link_to arrow_clockwise_icon, templates_path, class: 'btn btn-outline-dark' %>
      </div>
    <% end %>
  </div>
  <div class="col-2 d-flex justify-content-end">
    <%= link_to add_icon, new_template_path, class: "btn btn-outline-info btn-sm" %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-hover table-condensed">
  <thead>
    <tr class="bg-success">
      <th><%= check_box_tag 'selectAll', 'selectAll'%></th>
      <th>Название шаблона</th>
      <th>Тема письма</th>
      <th>Получатель</th>
      <th>Содержание письма</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody id="items_table">
    <% @templates.each do |template| %>
    <tr>
        <td><%= check_box_tag "template_ids[]", template.id %></td>
        <td><%= template.title %></td>
        <td><%= template.subject %></td>
        <td><%= template.receiver %></td>
        <td><%= template.content.truncate(40) if template.content %></td>
        <td><%= link_to edit_icon, edit_template_path(template) %></td>
        <td><%= link_to trash_icon, template, data: { "turbo-method": :delete, 'turbo-confirm': 'Are you sure?' }%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


<div class="apple_pagination">
<%= will_paginate @templates %>
</div>
