<div class="row align-items-center mt-3 mb-3">
  <div class="col-2">
    <h2>Заявки</h2><small>Всего - <%= Case.count%></small>
  </div>

  <div class="col-10 pl-0 pr-0 row">
    <div class="col-1 mb-3">
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle btn-sm" data-bs-toggle="dropdown">Действия</button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <%# link_to 'New Case', new_case_path, class: 'dropdown-item' %>
        </div>
      </div>
    </div>
    <%= search_form_for @search, {class: 'form-inline col-11 pl-0 pr-0'} do |f| %>
      <div class="input-group input-group-sm">
        <%= f.select :status_eq , Case::STATUS, { :prompt => 'Статус'}, class: "form-select", style: "max-width: 180px;" %>
        <%= f.search_field :number_eq , placeholder: 'number', class: "form-control", style: "max-width: 180px;" %>
        <%= f.search_field :client_name_or_client_surname_or_client_email_cont , placeholder: 'client fio, email', class: "form-control", style: "max-width: 180px;" %>
        <%= f.select :casetype_in, Case::CASETYPE, { :prompt => 'Тип заявки'}, class: "form-select", style: "max-width: 180px;" %>
        <%= button_tag(type: 'submit', :class => "btn btn-info") do %>
          <span class="oi oi-magnifying-glass"></span>
        <% end %>
        <%= link_to '<span class="oi oi-reload"></span>'.html_safe, cases_path, class: 'btn btn-outline-dark ' %>
      </div>
    <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-hover table-condensed">
  <thead>
    <tr class="bg-success">
      <th><%= check_box_tag 'selectAll', 'selectAll'%></th>
      <th>#</th>
      <th></th>
      <th>Тип заявки</th>
      <th>Номер</th>
      <th>Клиент</th>
      <th></th>
    </tr>
  </thead>

  <tbody id="items_table">
    <% @cases.each do |mycase| %>
      <tr>
          <td><%= check_box_tag "case_ids[]", mycase.id %></td>
          <td><%= mycase.id %></td>
          <td>Статус: <%= mycase.status_title %></br>Дата: <%= mycase.created_at.strftime("%d/%m/%Y %H:%M")%></td>
          <td><%= mycase.casetype_value %></td>
          <td><%= mycase.number %></td>
          <td><%= mycase.client_data %></td>
          <td>
            <span class="d-flex">
            <%= link_to '<span class="oi oi-pencil"></span>'.html_safe, edit_case_path(mycase), class: "px-3" %>
            <%= link_to '<span class="oi oi-trash"></span>'.html_safe, mycase, method: :delete, data: { confirm: 'Are you sure?' } %>
            </span>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= render 'shared/paginate', object: @cases %>

