<td><%= link_to user.id, edit_user_path(user) %></td>
<td><b>Имя</b> <%= user.name %> <b>Логин</b> <%= user.subdomain %><br>
    <b>Email</b> <%= user.email %><br>
    <b>Phone</b> <%= user.phone %><br>
    <b>Сайт</b> <%= link_to user.insints.first.subdomen, "http://"+user.insints.first.subdomen.to_s, target: "_blank" if user.insints.present? %>
</td>
<td><b>Создан</b> <%= user.created_at.in_time_zone.strftime("%d/%m/%Y %H:%M" ).to_s%><br>
    <b>Последний вход</b> <%= user.last_sign_in_at.present? ? user.last_sign_in_at.in_time_zone.strftime("%d/%m/%Y %H:%M" ) : '' %><br>
    <b>Действует до</b> <%= user.valid_until.present? ? user.valid_until.strftime("%d-%m-%Y") : ''%>
</td>
<td>
    <span type="button" data-bs-toggle= "tooltip" data-bs-trigger= "click" data-bs-html= "true" 
          data-bs-placement= "left" data-bs-title="<span><%=user.last_client_data.to_s%></span>">
      <%= user.clients_count %>
    </span>
</td>
<td><%= user.products_count %></td>
<td><%= user.izb_count %></td>
<td><%= user.favorite_setup_status %></td>
<td><%= user.restock_setup_status %></td>
<td><%= user.message_setup_status %></td>
<td><%= link_to '<span class="oi oi-trash"></span>'.html_safe, user, method: :delete, data: { confirm: 'Are you sure?' }  if current_admin %></td>
