<tr id="<%= dom_id user %>">
    <td><%= link_to user.id, edit_user_path(user) %><br>
    <%= button_to '<span class="oi oi-transfer"></span>'.html_safe, impersonate_user_path(user), data: {turbo: false}, class: "btn px-0" %>
    </td>
    <td>
        <div class="d-flex flex-column">
            <div>
                <b>Имя</b> <%= user.name %> <b>Логин</b> <%= user.subdomain %><br>
                <b>Email</b> <%= user.email %> <%= link_to 'Сайт', "http://"+user.insints.first.subdomen.to_s, target: "_blank" if user.insints.present? %>
            </div>
        </div>
        <div>
            <b>Создан</b> <%= user.created_at.in_time_zone.strftime("%d/%m/%Y %H:%M" ).to_s%><br>
            <%# user.last_sign_in_at.present? ? "Последний вход #{user.last_sign_in_at.in_time_zone.strftime("%d/%m/%Y %H:%M" )}" : '' %>
            <%# user.valid_until.present? ? "Действует до #{user.valid_until.strftime("%d-%m-%Y")}" : ''%>
        </div>
    </td>
        <td>
            <% insint = user.insints.first %>
            <div class="btn-group-vertical" role="group" aria-label="button setup">
                <%= link_to "#{arrow_left_right_icon} check API".html_safe, check_insints_path(insint), data: {turbo_method: :get, turbo_stream: true}, class: "btn btn-outline-info btn-sm" if insint %>
                <%= link_to "#{mail_icon} check email".html_safe, check_email_users_path(user), data: {turbo_method: :get, turbo_stream: true}, class: "btn btn-outline-info btn-sm", title: 'check user email setup work' %>
                <%= link_to "#{arrow_up} Order WebHook".html_safe, add_insales_order_webhook_users_path(user), data: {turbo_method: :get, turbo_stream: true}, class: "btn btn-outline-info btn-sm" if insint %>
            </div>
        </td>
    <td>
        <span type="button" data-bs-toggle= "tooltip" data-bs-trigger= "click" data-bs-html= "true" 
            data-bs-placement= "left" data-bs-title="<span><%=user.last_client_data.to_s%></span>">
            <%= user.clients_count %>
        </span>
    </td>
    <td><%= user.products_count %></td>
    <td><%= user.izb_count %></td>
    <td><%= user.restock_count %></td>
    <td></td>
    <td></td>
    <td><%= user.message_setup_status %><br>
        Действует до:<br> <%= user.message_setup_valid_until %><br>
        <%= link_to "Add 4 week", add_message_setup_ability_users_path(user), data: {turbo_method: :get, turbo_stream: true}, class: "btn btn-outline-info btn-sm" %>
    </td>
    <td><%= link_to trash_icon, user, data: { "turbo-method": :delete, 'turbo-confirm': 'Вы уверенны?' }  if current_admin %></td>
</tr>