<div class="row mt-3 align-items-center">
  <div class="col-2 d-flex flex-column">
    <div class="h4">Пользователи</div>
    <div class="h6 m-0 small">Всего - <%= User.count%></div>
    <%=tag.div( class: 'h6 m-0 small') do %>
      <% info = page_entries_info @Users%>
      <%= info.gsub('User','').gsub('пользователи','') %>
    <%end if @search.present? %>
  </div>
  <%= search_form_for @search, {class: 'form-inline col pl-0 pr-0'} do |f| %>
    <div class="input-group input-group-sm">
      <%= f.search_field :name_cont_all , placeholder: 'name', class: "form-control", style: "max-width: 180px;" %>
      <%= f.search_field :subdomain_cont_all , placeholder: 'subdomain(логин)', class: "form-control", style: "max-width: 180px;" %>
      <%= button_tag(type: 'submit', :class => "btn btn-outline-primary") do %><%= search_icon %><% end %>
      <%= link_to arrow_clockwise_icon, users_path, class: 'btn btn-outline-dark' %>
    </div>
  <% end %>
</div>


<div class="table-responsive">
  <table class="table table-sm table-hover align-middle table-bordered border-light">
    <thead class="align-middle">
      <tr class="bg-success">
        <th rowspan="2">#</th>
        <th rowspan="2">Пользователь</th>
        <th rowspan="2">Настройки</th>
        <th colspan="6">Всего</th>
        <th rowspan="2">Состояние</th>
        <th rowspan="2"></th>
      </tr>
      <tr class="bg-success mt-0">
        <th>Clients</th>
        <th>Products</th>
        <%=tag.th heart_icon, title: 'Избранное' %>
        <%=tag.th reload_icon, title: 'Сообщить о поступлении' %>
        <%=tag.th bell_icon, title: 'Предзаказ' %>
        <%=tag.th cart_icon, title: 'Корзина' %>
      </tr>
    </thead>
    <tbody class="align-middle">
      <%= render @users %>
    </tbody>
  </table>
</div>

<%= render 'shared/paginate', object: @users %>