<style>
  .header-wrap {
    justify-content: center!important;
    border-bottom: unset!important;
    padding-top: 2rem!important;
  }
  .header-wrap .navbar-toggler, .header-wrap .navbar-collapse {display:none!important;}
  .header-wrap .navbar {
    justify-content: center;
    display: flex;
    background: transparent;
  }
</style>
<div class="form-wrap">
  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), :html => { class: 'form-signin', method: :put }) do |f| %>
    <h2 class="form-signin-heading"><%= t('.sign_up', :default => "Новый пароль") %></h2>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>
    <%= f.input_field :password, class: 'form-control' , placeholder: "Password - (#{@minimum_password_length} characters minimum)" %>
    <%= f.input_field :password_confirmation, class: 'form-control' , placeholder: "Password confirmation" %>
    <%= f.submit t('.sign_up', :default => "Сохранить"), class: 'btn btn-success' %>
  <% end %>
  <div class="form-sign-help">
    <%= render "devise/shared/links" %>
  </div>

</div>