<tr class="align-middle">
    <td>
        <div class="d-flex flex-column">
            <%=tag.div client.id %>
            <%=tag.div( client.clientid, class: 'opacity-75 fs-8') if client.clientid %>
        </div>
    </td>
    <td class="fs-8"><%= client.created_at.in_time_zone.strftime('%d/%m/%Y %H:%M')%></td>
    <td><%= client.fio %></td>
    <td><%="Телефон: #{client.phone}" if client.phone%></br><%="Email: #{client.email}" if client.email%></td>
    <%=tag.td do %>
        <%= link_to client.favorites.count.to_s, client, data: { turbo_frame: "offcanvasWrap", turbo_stream: true } %>
    <% end %>
    <%=tag.td do %>
        <%= link_to client.restocks.count.to_s, client, data: { turbo_frame: "offcanvasWrap", turbo_stream: true }  %>
    <% end %>
     <%=tag.td do %>
        <%= link_to client.preorders.count.to_s, client, data: { turbo_frame: "offcanvasWrap", turbo_stream: true } %>
    <% end %> 
     <%=tag.td do %>
        <%= link_to client.abandoned_carts.count.to_s, client, data: { turbo_frame: "offcanvasWrap", turbo_stream: true } %>
    <% end %>    
    <td>
        <%= link_to trash_icon, client, data: { "turbo-method": :delete, 'turbo-confirm': 'Вы уверенны?' }, class:"" %>
    </td>
</tr>