<div class="row justify-content-start align-items-center g-2 mt-0">
  <div class="col-8 d-flex flex-row gap-2">
    <div class=""> 
      <strong>Client id:</strong> <%= @client.clientid %> 
      <strong>ФИО:</strong> <%= @client.fio %> 
    </div>
    <div class=""> 
      <strong>Email:</strong> <%= @client.email %> <strong>Phone:</strong> <%= @client.phone %>
    </div>
  </div>
</div>
<% if @client.favorites.present? %>
  <div class="row align-items-center mt-3 mb-3">
    <div class="col-4 d-flex w-100 align-items-center mb-2 h5">
      <span><%= heart_icon %> Избранное</span>
      <%# link_to mail_icon+' избранное'.html_safe, emailizb_client_path(@client), title: "Отправить письмо с избранным", class: "btn btn-light ms-auto", data: {turbo_method: :get, turbo_stream: true} %>
      <%= link_to 'Создать заявку'.html_safe, new_mycase_path(client_id: @client.id, casetype: 'favorite'), class: 'btn btn-light ms-auto', data: {turbo_frame: "offcanvas_wrap", turbo_stream: true } %>
    </div>
    <div class="table-responsive">
    <table class="table table-hover table-condensed table-sm">
      <thead>
        <tr class="align-middle">
          <th># ins</th>
          <th></th>
          <th>Название</th>
          <th>Sku</th>
          <th>Остаток</th>
          <th>Цена</th>
          <th>Статус</th>
          <th>Даты</th>
        </tr>
      </thead>
      <tbody>
        <% @client.favorites.each do |fav| %>
         <% pr = fav.product %>
        <tr class="align-middle">
          <td>
            <div class="d-flex flex-column opacity-75 fs-8">
              <%=tag.div pr.insid %>
            </div>        
          </td>
          <%= td_tag_image(pr.image_link) %>
          <td><%= link_to "#{pr.title}", "http://"+current_user.insints.first.subdomen+"/product_by_id/"+pr.insid.to_s, target: "_blank" %></td>
          <td><%= pr.variants.first.sku if pr.variants.count.positive? %></td>
          <td></td>
          <td><%=pr.price%></td>
          <td><%= fav.status %></td>
          <td>
            <div class="d-flex flex-column opacity-75 fs-8">
              <div>С: <%= fav.created_at.in_time_zone.strftime('%d/%m/%Y %H:%M') %></div>
              <div>О: <%= fav.updated_at.in_time_zone.strftime('%d/%m/%Y %H:%M') %></div>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
<% end %>

<% if @client.restocks.present? %>
  <div class="row align-items-center mt-3 mb-3">
    <div class="col-4 d-flex w-100 align-items-center mb-2 h5">
    <span><%= reload_icon%> Сообщить о поступлении</span>
    </div>
    <div class="table-responsive">
    <table class="table table-hover table-condensed table-sm">
      <thead>
      <tr class="align-middle">
        <th># ins</th>
        <th></th>
        <th>Название</th>
        <th>Sku</th>
        <th>Остаток</th>
        <th>Цена</th>
        <th>Статус</th>
        <th>Даты</th>
      </tr>
      </thead>
      <tbody>
      <% @client.restocks.each do |res| %>
        <% var = res.variant%>
        <tr class="align-middle">
          <td>
            <div class="d-flex flex-column opacity-75 fs-8">
              <%=tag.div var.product.insid %>
              <%=tag.div( var.insid, class: 'opacity-75 fs-8')%>
            </div>          
          </td>
          <%= td_tag_image(var.product.image_link)%>
          <td><%= link_to "#{var.product.title}", "http://"+current_user.insints.first.subdomen+"/product_by_id/"+var.product.insid.to_s+"?variant_id="+var.insid.to_s, target: "_blank" %></td>
          <td><%= var.sku %></td>
          <td><%= var.quantity %></td>
          <td><%= var.price %></td>
          <td><%= res.status %></td>
          <td>
            <div class='d-flex flex-column opacity-75 fs-8 px-0'>
              <div>С: <%= res.created_at.in_time_zone.strftime('%d/%m/%Y %H:%M') %></div>
              <div>О: <%= res.updated_at.in_time_zone.strftime('%d/%m/%Y %H:%M') %></div>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
<% end %>

<% if @client.preorders.present? %>
  <div class="row align-items-center mt-3 mb-3">
    <div class="col-4 d-flex w-100 align-items-center mb-2 h5">
    <span><%= bell_icon%> Предзаказ</span>
    </div>
    <div class="table-responsive">
    <table class="table table-hover table-condensed table-sm">
      <thead>
        <tr class="align-middle">
          <th># ins</th>
          <th></th>
          <th>Название</th>
          <th>Sku</th>
          <th>Остаток</th>
          <th>Цена</th>
          <th>Статус</th>
          <th>Даты</th>
        </tr>
      </thead>
      <tbody>
      <% @client.preorders.each do |res| %>
        <% var = res.variant%>
        <tr class="align-middle">
          <td>
            <div class="d-flex flex-column opacity-75 fs-8">
              <%=tag.div var.product.insid %>
              <%=tag.div( var.insid, class: '')%>
            </div>          
          </td>
          <%= td_tag_image(var.product.image_link)%>
          <td><%= link_to "#{var.product.title}", "http://"+current_user.insints.first.subdomen+"/product_by_id/"+var.product.insid.to_s+"?variant_id="+var.insid.to_s, target: "_blank" %></td>
          <td><%= var.sku %></td>
          <td><%= var.quantity %></td>
          <td><%= var.price %></td>
          <td><%= res.status %></td>
          <td>
            <div class='d-flex flex-column opacity-75 fs-8 px-0'>
              <div>С: <%= res.created_at.in_time_zone.strftime('%d/%m/%Y %H:%M') %></div>
              <div>О: <%= res.updated_at.in_time_zone.strftime('%d/%m/%Y %H:%M') %></div>
            </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
<% end %>

<% if @client.abandoned_carts.present? %>
  <div class="row align-items-center mt-3 mb-3">
    <div class="col-4 d-flex w-100 align-items-center mb-2 h5">
    <span><%= cart_icon%> Корзина</span>
    </div>
    <div class="table-responsive">
    <table class="table table-hover table-condensed table-sm">
      <thead>
        <tr class="align-middle">
          <th># ins</th>
          <th></th>
          <th>Название</th>
          <th>Sku</th>
          <th>Остаток</th>
          <th>Цена</th>
          <th>Статус</th>
          <th>Даты</th>
        </tr>
      </thead>
      <tbody>
      <% @client.abandoned_carts.each do |res| %>
        <% var = res.variant%>
        <tr class="align-middle">
          <td>
            <div class="d-flex flex-column opacity-75 fs-8">
              <%=tag.div var.product.insid %>
              <%=tag.div( var.insid, class: '')%>
            </div>          
          </td>
          <%= td_tag_image(var.product.image_link)%>
          <td><%= link_to "#{var.product.title}", "http://"+current_user.insints.first.subdomen+"/product_by_id/"+var.product.insid.to_s+"?variant_id="+var.insid.to_s, target: "_blank" %></td>
          <td><%= var.sku %></td>
          <td><%= var.quantity %></td>
          <td><%= var.price %></td>
          <td><%= res.status %></td>
          <td class='opacity-75 fs-8'>Созд: <%= res.created_at.in_time_zone.strftime('%d/%m/%Y %H:%M') %></br>
          Обн: <%= res.updated_at.in_time_zone.strftime('%d/%m/%Y %H:%M') %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
<% end %>