<div class="row">
  <div class="col-2">
    <h1>Клиенты</h1><small>Всего - <%= Client.count%></small>
  </div>
  <div class="col-2 align-self-center">
    <%= link_to '<i class="fa fa-list" aria-hidden="true"></i> Сохранить отчет'.html_safe, clients_otchet_path, title: "Отчет", class: "btn btn-light", role:"button", remote: true%>
  </div>
  <%= search_form_for @search, html: {class: 'form-inline col-3'}  do |f|%>
    <div class="form-group">
      <%= f.search_field :clientid_cont_all, placeholder: 'ID', class: "form-control input-sm"%>
      <%= f.submit 'Поиск', class: 'btn btn-info' %>
      <%= link_to 'Сбросить',clients_path, class: 'btn btn-link' %>
    </div>
  <% end %>
</div>

<div class="table-responsive">
<table class="table table-hover table-condensed table-sm">
  <thead class="thead-light">
    <tr>
      <th>ID клиента</th>
      <th>ФИО</th>
      <th>Email</th>
      <th>Товары в избранном</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @full_clients.each do |client| %>
      <tr>
        <td><%= client['clientid'] %></td>
        <td><%= client['fio'] %></td>
        <td><%= client['email'] %></td>
        <td><%= truncate(client['izb_productid'], :length => 30, :omission => '... (и др.)') %></td>
        <td><%= link_to '<i class="fa fa-eye" aria-hidden="true"></i>'.html_safe, client_path(:id => client['id'], :fio =>  client['fio'], :email => client['email']) %></td>
        <td><%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, client_path(:id => client['id']), method: :delete, data: { confirm: 'Вы уверенны?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
<div class="digg_pagination">
  <%= will_paginate @clients %>
</div>
