<div class="row align-items-center mt-3 mb-3">
  <div class="col-2 d-flex flex-column">
    <div class="h3">Клиенты</div>
    <div class="h6">Всего - <%= Client.count%></div>
  </div>
  <%= search_form_for @search, html: {class: 'form-inline col pl-0 pr-0'}  do |f|%>
    <div class="input-group input-group-sm">
      <%= f.search_field :clientid_cont_all, placeholder: 'ID', class: "form-control"%>
      <%= f.search_field :name_or_surname_cont_all, placeholder: 'ФИО', class: "form-control"%>
      <%= f.search_field :email_cont_all, placeholder: 'Email', class: "form-control"%>
      <%= f.search_field :phone_cont_all, placeholder: 'Телефон', class: "form-control"%>
      <%= button_tag(type: 'submit', :class => "btn btn-outline-primary") do %><%= search_icon %><% end %>
      <%= link_to arrow_clockwise_icon, clients_path, class: 'btn btn-outline-dark' %>
    </div>
  <% end %>

  <div class="col-2 gap-2 d-flex align-items-center justify-content-end">
    <%= link_to upload_cloud_icon, file_import_insales_clients_path, id: 'file_import', title: 'Импорт клиентов Insales', data: {turbo_frame: "modal", turbo_stream: true}, class: 'btn btn-outline-info btn-sm' %>
    <%= link_to export_file_icon, otchet_clients_path, title: "отчет Избранное", class: "btn btn-outline-info btn-sm", role:"button", data: {turbo_method: :get, turbo_stream: true} if FavoriteSetup.all.present? %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-hover table-condensed">
    <thead>
      <tr class="bg-success">
        <th>ID (INS)</th>
        <th>Создан</th>
        <th>ФИО</th>
        <th></th>
        <%=tag.th heart_icon, title: 'Избранное' if Favorite.all.count > 0 %>
        <%=tag.th reload_icon, title: 'Сообщить о поступлении' if Restock.all.count > 0 %>
        <%=tag.th bell_icon, title: 'Предзаказ' if Preorder.all.count > 0 %>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= client.id %><br><%= "(#{client.clientid})" if client.clientid %></td>
          <td><%= client.created_at.in_time_zone.strftime("%d/%m/%Y")%></td>
          <td><%= client.fio %></td>
          <td><%="Телефон: #{client.phone}" if client.phone%></br><%="Email: #{client.email}" if client.email%></td>
          <% if Favorite.all.count > 0 %>
          <td><%= link_to client.favorites.uniq.count.to_s+' шт', client_path(client) if client.favorites.uniq.count > 0 %> <%# link_to 'Email', emailizb_client_path(client), remote: true %></td>
          <% end %>
          <% if Restock.all.count > 0 %>
          <td><%= link_to client.restocks.count.to_s+' шт', client_path(client) if client.restocks.count > 0 %></td>
          <% end %>
          <% if Preorder.all.count > 0 %>
          <td><%= link_to client.preorders.count.to_s+' шт', client_path(client) if client.preorders.count > 0 %></td>
          <% end %>       
          <td>
          <%= link_to trash_icon, client, data: { "turbo-method": :delete, 'turbo-confirm': 'Вы уверенны?' }, class:"" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render 'shared/paginate', object: @clients %>

