<div class="row align-items-center mt-3 mb-3">
  <div class="col-2">
    <h2>Клиенты</h2><small>Всего - <%= Client.count%></small>
  </div>
  <div class="col-3 align-self-center">
  <% if FavoriteSetup.all.present?%>
    <%= link_to '<i class="fa fa-list"></i> Сохранить отчет Избранное'.html_safe, otchet_clients_path, title: "отчет Избранное", class: "btn btn-light", role:"button", remote: true%>
  <% end %>
  </div>
  <%= search_form_for @search, html: {class: 'form-inline col-3 pl-0 pr-0'}  do |f|%>
    <div class="input-group input-group-sm">
      <%= f.search_field :clientid_cont_all, placeholder: 'ID', class: "form-control"%>
      <%= button_tag(type: 'submit', :class => "btn btn-info") do %><span class="oi oi-magnifying-glass"></span><% end %>
      <%= link_to '<span class="oi oi-reload"></span>'.html_safe, clients_path, class: 'btn btn-outline-dark' %>
    </div>
  <% end %>
    <div class="col-3 align-self-center">
    <%= link_to 'Импорт клиентов Insales <span class="oi oi-cloud-upload"></span>'.html_safe, file_import_insales_clients_path, remote: 'true', id: 'file_import', title: 'file import', 'data-bs-toggle' => "modal", 'data-bs-target' => '#modal-edit', class: 'btn btn-outline-info btn-sm' %>
  </div>

</div>

<div class="table-responsive">
  <table class="table table-hover table-condensed">
    <thead>
      <tr class="bg-success">
      <th>ID (INS)</th>
      <th>Создан</th>
      <th>ФИО</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Избранное</th>
      <th>Restock</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.id %><br>(<%= client.clientid%>)</td>
        <td><%= client.created_at.in_time_zone.strftime("%d/%m/%Y")%></td>
        <td><%= link_to client.fio, client_path(client) %></td>
        <td><%= client.email %></td>
        <td><%= client.phone %></td>
        <td><%= client.favorites.count %><%# client.izb_productid.split(',').size if client.izb_productid %> шт. <%= link_to 'Email', emailizb_client_path(client), remote: true%></td>
        <td><%= client.restocks.count %> шт.</td>
        <td><%= link_to '<span class="oi oi-trash"></span>'.html_safe, client, method: :delete, data: { confirm: 'Вы уверенны?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
<div class="digg_pagination">
  <%= will_paginate @clients %>
</div>
