<p id="notice"><%= notice %></p>

<p>
  <strong>Clientid:</strong>
  <%= @client.clientid %>
</p>

<p>
  <strong>Izb productid:</strong>
  <%= @client.izb_productid %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
