
<%= turbo_frame_tag useraccount do %>
  <%= form_with(model: useraccount, class: "" ) do |f| %>
    <%= render "shared/errors", object: useraccount %>
    <div class="d-flex flex-row align-items-center">
      <%= f.text_field :name, class: "col form-control", placeholder: 'name' %>
      <%= f.text_field :email, class: "col form-control", placeholder: 'email'  %>
      <%= f.text_field :shop, class: "disabled d-none", readonly: true %>
      <%= f.text_field :insuserid, class: "disabled d-none", readonly: true %>

      <div class="col ms-2 form-actions">
        <%= f.submit 'Создать', class: "btn btn-primary" %>
        <%= link_to close_icon, :back, class: "btn btn-outline-primary" %>
      </div>
    </div>
  <% end %>
<% end %>
