<h1>Payplans</h1>

<table>
  <thead>
    <tr>
      <th>title</th>
      <th>Description</th>
      <th>Service</th>
      <th>Period</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @payplans.each do |payplan| %>
      <tr>
        <td><%= payplan.handle %></td>
        <td><%= payplan.title %></td>
        <td><%= payplan.description %></td>
        <td><%= payplan.service_handle %></td>
        <td><%= payplan.period %></td>
        <td><%= payplan.price %></td>
        <td><%= link_to 'Show', payplan %></td>
        <td><%= link_to 'Edit', edit_payplan_path(payplan) %></td>
        <td><%= link_to 'Destroy', payplan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payplan', new_payplan_path %>
