<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Добрый день, <%= @fio%></h1>
    <p>Ваши товары из раздела избранное представлены ниже:</p>
    <table >
      <thead>
      <tr>
        <th>Название товара</th>
        <th>Изображение</th>
        <th>Цена</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |pr| %>
        <tr>
          <td><%= link_to "#{pr.split(',')[1]}", @shopurl+"/product/"+pr.split(',')[2], target: "_blank" %></td>
          <td><img src="<%=pr.split(',')[3]%>" alt="<%=pr.split(',')[1]%>"></td>
          <td><%=pr.split(',')[4]%></td>
        </tr>
      <% end %>
        </tbody>
    </table>
    <p>___</p>
    <p><%= @shoptitle %></p>
    <p>Спасибо что Вы с нами, хорошего дня!</p>
    <p></p>
    <p><a href="https://k-comment.ru/" target="_blank" style="color:red;font-style: italic;">Сервис "K-comment - Избранные товары"</a></p>
  </body>
</html>
