
<div class="row align-items-center mt-3 mb-3">
  <div class="col-2"><h2>Платежи</h2></div>
  <div class="col-2"></div>
  <%= search_form_for @search, html: {class: 'form-inline col-3 pl-0 pr-0'}  do |f|%>
    <div class="input-group input-group-sm">
      <%= f.search_field :user_subdomain_cont, placeholder: 'User', class: "form-control"%>
      <%= f.search_field :invoice_id_eq, placeholder: 'Счет', class: "form-control"%>
      <%= button_tag(type: 'submit', :class => "btn btn-info") do %><span class="oi oi-magnifying-glass"></span><% end %>
      <%= link_to '<span class="oi oi-reload"></span>'.html_safe, payments_path, class: 'btn btn-outline-dark' %>
      <%= link_to '<span class="oi oi-trash"></span>'.html_safe, delete_selected_payments_path, class: 'btn btn-secondary', id: 'deleteAll' %>
    </div>
  <% end %>
</div>

<div class="table-responsive">
  <table class="table table-sm table-hover align-middle table-bordered border-light">
    <thead class="align-middle">
      <tr class="bg-success">
      <th><%= check_box_tag 'selectAll', 'selectAll'%></th>
      <th>Пользователь</th>
      <th>Invoice</th>
      <th>Тариф</th>
      <th>Период</th>
      <th>Способ оплаты</th>
      <th>Дата оплаты</th>
      <th>Id оплаты</th>
      <th>Status</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody id="items_table">
    <% @payments.each do |payment| %>
      <tr>
        <td><%= check_box_tag "payment_ids[]", payment.id %></td>
        <td><b>Логин: </b><%= payment.user.subdomain if payment.user.present?%><br><b>Valid: </b><%= payment.user.present? ? payment.user.valid_until : "" %></td>
        <td><%= link_to payment.invoice_id , payment %></td>
        <td><%= payment.payplan.title %></td>
        <td><%= payment.payplan.period %></td>
        <td><%= payment.paymenttype %></td>
        <td><%= payment.paymentdate.in_time_zone.strftime("%d/%m/%Y %H:%M" ) if payment.paymentdate != nil%></td>
        <td><%= payment.paymentid%></td>
        <td><%= payment.status %></td>
        <td><%= link_to '<span class="oi oi-pencil"></span>'.html_safe, edit_payment_path(payment) %></td>
        <td><%= link_to '<span class="oi oi-trash"></span>'.html_safe, payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="digg_pagination">
<%= will_paginate @payments %>
</div>
