
<div class="row">
  <div class="col-2">
    <h1>Платежи</h1>
  </div>
  <div class="col-2">

  </div>
  <%= search_form_for @search, html: {class: 'form-inline col-3'}  do |f|%>
    <div class="form-group">
      <%= f.search_field :invoice_id_eq, placeholder: 'Счет', class: "form-control input-sm"%>
      <%= f.submit 'Поиск', class: 'btn btn-light' %>
      <%= link_to 'Сбросить',payments_path, class: 'btn btn-outline-secondary' %>
    </div>
  <% end %>
</div>

<div class="table-responsive">
<table class="table table-hover table-condensed table-sm">
  <thead class="thead-light">
    <tr>
      <th>User</th>
      <th>User активен до</th>
      <th>Invoice</th>
      <th>Payplan</th>
      <th>Способ оплаты</th>
      <th>Дата оплаты</th>
      <th>Id оплаты</th>
      <th>Status</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <tr>
        <td><%= link_to payment.user.subdomain , payment %></td>
        <td><%= payment.user.valid_until %></td>
        <td><%= payment.invoice_id %></td>
        <td><%= payment.payplan.period %></td>
        <td><%= payment.paymenttype %></td>
        <td><%= payment.paymentdate %></td>
        <td><%= payment.paymentid%></td>
        <td><%= payment.status %></td>
        <td><%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_payment_path(payment) %></td>
        <td><%= link_to '<i class="fa fa-trash" aria-hidden="true"></i>'.html_safe, payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

	<%= will_paginate @payments %>
