
<p>
  <strong>User:</strong>
  <%= @payment.user.subdomain %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= @payment.invoice_id %>
</p>

<p>
  <strong>Тариф:</strong>
  <%= @payment.payplan_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @payment.status %>
</p>
<p>
  <strong>Дата оплаты:</strong>
  <%= @payment.paymentdate %>
</p>
<p>
<strong>Способ оплаты:</strong>
  <%= @payment.paymenttype %>
</p>
<p>
  <strong>Paymentid:</strong>
  <%= @payment.paymentid %>
</p>

<div class="col-2 btn-group mt-5">
<%= link_to 'Редактировать',  edit_payment_path(@payment) , class: 'btn btn-success'%>
<%= link_to 'Назад', payments_path , class: "btn btn-outline-secondary" %>
</div>
