
<%= simple_form_for(@product) do |f| %>
  <%= render 'shared/errors', object: @product%>

  <div class="row">
    <div class="col-6">
    <%= f.input :insid %>
    <%= f.input :title %>
    <%= f.input :price %>
  </div>
</div>
  <div class="row">
  <div class="col-3 btn-group mt-5">
    <%= f.button :submit, class: 'btn btn-success' %>
    <%= link_to close_icon, :back, class: 'btn btn-outline-primary' %>
  </div>
  </div>
<% end %>
