<tr class="align-middle">
    <td>
        <div class="d-flex flex-column">
            <%=tag.div product.id %>
            <%=tag.div( product.insid, class: 'opacity-75 fs-8') if product.insid %>
        </div>
    </td>    
    <td class="fs-8"><%= product.created_at.in_time_zone.strftime('%d/%m/%Y %H:%M')%></td>
     <%= td_tag_image(product.image_link)%>
    <td><%= product.title %></td>
    <td><%= link_to eye_icon, product, data: { turbo_frame: "offcanvasWrap", turbo_stream: true } %></td>
    <td><%= product.price %></td>
    <td><%= link_to trash_icon, product, data: { "turbo-method": :delete, 'turbo-confirm': 'Вы уверенны?' }, class:"" %></td>
</tr>
