

<div class="col-12 mb-3">
  <%= @product.title %>
</div>

<div class="col-12">
  <div class="table-responsive">
    <table class="table table-hover table-condensed">
    <thead>
      <tr class="bg-success">
        <th>Id варианта</th>
        <th>Артикул</th>
        <th>Кол-во</th>
        <th>Цена</th>
      </tr>
    </thead>

    <tbody>
      <% @product.variants.each do |variant| %>
      <tr>
        <td><%= link_to "#{variant.insid }", "http://"+current_user.insints.first.subdomen+"/product_by_id/"+variant.product.insid.to_s+"?variant_id="+variant.insid.to_s, target: "_blank" %></td>
        <td><%= variant.sku %></td>
        <td><%= variant.quantity %></td>
        <td><%= variant.price %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>

<% if @favorite_products.present? %>
  <div class="row align-items-center mt-3 mb-3">
    <div class="col-4 d-flex w-100 align-items-center mb-2 h5">
      <span><%= heart_icon %> Избранное</span>
      <%= link_to mail_icon+' избранное'.html_safe, emailizb_client_path(@client), title: "Отправить письмо с избранным", class: "btn btn-light ms-auto", data: {turbo_method: :get, turbo_stream: true} %>
    </div>
    <div class="table-responsive">
    <table class="table table-hover table-condensed table-sm">
    <thead>
      <tr class="align-middle">
        <th>Клиент</th>
        <th>Дата добавления</th>
      </tr>
    </thead>

    <tbody>
      <% @product.favorites.order(:created_at).each do |fav| %>
      <tr class="align-middle">
        <td><%= fav.client.fio %></td>
        <td><%= fav.created_at.in_time_zone.strftime('%d/%m/%Y %H:%M') %></td>
      </tr>
      <% end %>
    </tbody>
    </table>
    </div>
  </div>
<% end %>

<% if @product.restocks.present? %>
  <div class="row align-items-center mt-3 mb-3">
    <div class="col-4 d-flex w-100 align-items-center mb-2 h5">
    <span><%= reload_icon%> Сообщить о поступлении</span>
    </div>
    <div class="table-responsive">
    <table class="table table-hover table-condensed table-sm">
      <thead>
        <tr class="align-middle">
          <th>Клиент</th>
          <th>Вариант</th>
          <th>Статус</th>
          <th>Даты</th>
        </tr>
      </thead>

      <tbody>
        <% @product.restocks.order(:created_at).each do |res| %>
        <tr class="align-middle">
          <td><%= res.client.fio %></td>
          <td>
            <div class="d-flex flex-column">
              <span><%= res.variant.sku %></span>
              <span class="fs-8"><%= res.variant.insid %></span>
            </div>
          </td>
          <td><%= res.status %></td>
          <td>Созд: <%= res.created_at.in_time_zone.strftime('%d/%m/%Y %H:%M') %></br>
          Обн: <%= res.updated_at.in_time_zone.strftime('%d/%m/%Y %H:%M') %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
<% end %>

<% if @product.preorders.present? %>
  <div class="row align-items-center mt-3 mb-3">
    <div class="col-4 d-flex w-100 align-items-center mb-2 h5">
    <span><%= bell_icon%> Предзаказ</span>
    </div>
    <div class="table-responsive">
    <table class="table table-hover table-condensed table-sm">
      <thead>
        <tr class="align-middle">
          <th>Клиент</th>
          <th>Вариант</th>
          <th>Статус</th>
          <th>Даты</th>
        </tr>
      </thead>

      <tbody>
        <% @product.preorders.order(:created_at).each do |res| %>
        <tr class="align-middle">
          <td><%= res.client.fio %></td>
          <td>
            <div class="d-flex flex-column">
              <span><%= res.variant.sku %></span>
              <span class="fs-8"><%= res.variant.insid %></span>
            </div>
          </td>
          <td><%= res.status %></td>
          <td>Созд: <%= res.created_at.in_time_zone.strftime('%d/%m/%Y %H:%M') %></br>
          Обн: <%= res.updated_at.in_time_zone.strftime('%d/%m/%Y %H:%M') %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
<% end %>

<% if @product.abandoned_carts.present? %>
  <div class="row align-items-center mt-3 mb-3">
    <div class="col-4 d-flex w-100 align-items-center mb-2 h5">
    <span><%= cart_icon%> Корзина</span>
    </div>
    <div class="table-responsive">
    <table class="table table-hover table-condensed table-sm">
      <thead>
        <tr class="align-middle">
          <th>Клиент</th>
          <th>Вариант</th>
          <th>Статус</th>
          <th>Даты</th>
        </tr>
      </thead>

      <tbody>
        <% @product.abandoned_carts.order(:created_at).each do |res| %>
        <tr class="align-middle">
          <td><%= res.client.fio %></td>
          <td>
            <div class="d-flex flex-column">
              <span><%= res.variant.sku %></span>
              <span class="fs-8"><%= res.variant.insid %></span>
            </div>
          </td>
          <td><%= res.status %></td>
          <td>Созд: <%= res.created_at.in_time_zone.strftime('%d/%m/%Y %H:%M') %></br>
          Обн: <%= res.updated_at.in_time_zone.strftime('%d/%m/%Y %H:%M') %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
<% end %>