

<div class="col-12 mb-3">
  (<%= @product.insid %>) <%= @product.title %> - <%= @product.price %>
</div>

<div class="col-12">
  <div class="table-responsive">
    <table class="table table-hover table-condensed">
    <thead>
      <tr class="bg-success">
        <th>Id варианта</th>
        <th>Артикул</th>
        <th>Кол-во</th>
        <th>Цена</th>
      </tr>
    </thead>

    <tbody>
      <% @product.variants.each do |variant| %>
      <tr>
        <td><%= link_to "#{variant.insid }", "http://"+current_user.insints.first.subdomen+"/product_by_id/"+variant.product.insid.to_s+"?variant_id="+variant.insid.to_s, target: "_blank" %></td>
        <td><%= variant.sku %></td>
        <td><%= variant.quantity %></td>
        <td><%= variant.price %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>

<div class="col-12 mb-3">Избранное</div>

<div class="col-12">
  <div class="table-responsive">
    <table class="table table-hover table-condensed">
    <thead>
      <tr class="bg-success">
        <th>Клиент</th>
        <th>Дата добавления</th>
      </tr>
    </thead>

    <tbody>
      <% @product.favorites.order(:created_at).each do |fav| %>
      <tr>
        <td><%= fav.client.fio %></td>
        <td><%= fav.created_at.in_time_zone.strftime('%d/%m/%Y %H:%M') %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>

