<div class="row align-items-center mt-3 mb-3">
  <div class="col-2 ">
    <div class="col-md-12 p-0">
      <div class="h3">Товары</div>
      <div class="h6">Всего - <%= Product.count %></div>
      <div class="h6">Отфильтровано: <%=@products.count%></div>
    </div>
  </div>
  <div class="col-10 pl-0 pr-0 row">
    <%= search_form_for @search, {class: 'form-inline col-12 pl-0 pr-0'} do |f| %>
      <div class="input-group input-group-sm">
        <%= f.search_field :title_cont , placeholder: 'Название', class: "form-control", style: "max-width: 180px;" %>
        <%= button_tag(type: 'submit', :class => "btn btn-outline-primary") do %><%= search_icon %><% end %>
        <%= link_to arrow_clockwise_icon, products_path, class: 'btn btn-outline-dark' %>
        <%= link_to trash_icon, delete_selected_products_path, class: 'btn btn-secondary', id: 'deleteAll', remote: true if current_admin%>
      </div>
    <% end %>
  </div>

  <div class="table-responsive">
    <table class="table table-hover table-condensed">
      <thead>
        <tr class="bg-success">
          <!-- <th><%# check_box_tag 'selectAll', value: 'selectAll'%></th> -->
          <th>#</th>
          <th>Id товара</th>
          <th>Img</th>
          <th>Название</th>
          <th>Варианты</th>
          <th>Цены</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <tbody id="items_table">
        <%= render @products %>
      </tbody>
    </table>
  </div>

</div>

<%= render 'shared/paginate', object: @products %>
