<div class="row align-items-center mt-3 mb-3">
  <div class="col-2"><h2>Интеграции</h2></div>
  <div class="col-2"></div>
  <%= search_form_for @search, url: adminindex_insints_path, html: {class: 'form-inline col-3 pl-0 pr-0'} do |f|%>
  <div class="input-group input-group-sm">
    <%= f.search_field :subdomen_cont, placeholder: 'Домен', class: "form-control"%>
    <%= button_tag(type: 'submit', :class => "btn btn-info") do %><span class="oi oi-magnifying-glass"></span><% end %>
    <%= link_to '<span class="oi oi-reload"></span>'.html_safe, adminindex_insints_path, class: 'btn btn-outline-dark' %>
  </div>
<% end %>
</div>

<div class="table-responsive">
<table class="table table-hover table-condensed table-sm">
  <thead>
    <tr class="bg-success">
      <th>User</th>
      <th>Ins id</th>
      <th>ДоменИнтегр</th>
      <th>Ключ</th>
      <th>Пароль</th>
      <th>ФайлыИнтегр</th>
      <th>Проверить интегр</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @insints.each do |insint| %>
      <tr>
        <td><%= insint.user.name %><br>id: <%= insint.user.id %></td>
        <td><%= insint.insales_account_id %></td>
        <td><%= insint.subdomen %></td>
        <td><%= insint.inskey %></td>
        <td><%= insint.password %></td>
        <td><% if insint.status == true %>добавлены<% else %> не добавлены<% end %></td>
        <td><%= link_to "Проверить", check_insints_path(insint), :remote => true, :method => :get , class: "btn btn-outline-info btn-sm" if insint.inskey.present? %></td>
        <td><%= link_to '<span class="oi oi-pencil"></span>'.html_safe, edit_insint_path(insint) %></td>
        <td><%= link_to '<span class="oi oi-trash"></span>'.html_safe, insint, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<div class="digg_pagination">
  <%= will_paginate @insints %>
</div>
