<h1>Listing insints</h1>
<table>
  <thead>
    <tr>
      <th>Inskey</th>
      <th>Password</th>
      <th>Subdomen</th>
      <th>Insalesid</th>
      <th>User</th>
      <th>Статус интегр</th>
    </tr>
  </thead>
  <tbody>
    <% @insints.each do |insint| %>
      <tr>
        <td>
          <%= insint.inskey %>
        </td>
        <td>
          <%= insint.password %>
        </td>
        <td>
          <%= insint.subdomen %>
        </td>
        <td>
          <%= insint.insalesid %>
        </td>
        <td>
          <%= insint.user.name %>
        </td>
        <td>
          <%= insint.status %>
        </td>
        <td>
          <%= link_to 'Show', insint %>
        </td>
        <td>
          <%= link_to 'Edit', edit_insint_path(insint) %>
        </td>
        <td>
          <%= link_to 'Destroy', insint, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
