<div class="row align-items-center mt-3 mb-3">
  <div class="col-4"><h2>Интеграция insales</h2></div>
  <div class="col-2"><%= link_to 'Добавить', new_insint_path, class: 'btn btn-outline-dark' if current_user.insints.count == 0 %></div>
</div>

<div class="table-responsive">
  <table class="table table-hover table-condensed">
  <thead>
    <tr class="bg-success">
      <th>Домен Интегр</th>
      <th>Ключ</th>
      <th>Пароль</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @insints.each do |insint| %>
      <tr>
        <td><%= insint.subdomen %></td>
        <td><%= insint.inskey %></td>
        <td><%= insint.password %></td>
        <td><%= link_to "Проверить", check_insints_path(insint), data: {turbo_method: :get, turbo_stream: true}, class: "btn btn-outline-info btn-sm" %></td>
        <td><% status_icon = insint.status == false ? false_icon : true_icon %>
        <%= status_icon.html_safe%></td>
        <td><%= link_to edit_icon, edit_insint_path(insint) %></td>
        <td><%= link_to trash_icon, insint, data: { "turbo-method": :delete, 'turbo-confirm': 'Вы уверенны?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


<%= render 'shared/paginate', object: @insints if current_admin %>

