%h1 Listing insints

%table
  %thead
    %tr
      %th Subdomen
      %th Password
      %th Insalesid
      %th User
      %th
      %th
      %th

  %tbody
    - @insints.each do |insint|
      %tr
        %td= insint.subdomen
        %td= insint.password
        %td= insint.insalesid
        %td= insint.user_id
        %td= link_to 'Show', insint
        %td= link_to 'Edit', edit_insint_path(insint)
        %td= link_to 'Destroy', insint, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
