
<%= simple_form_for(@mycase) do |f| %>
    <%= render 'shared/errors', object: @case%>

  <div class="row">
    <div class="col-12 h3 mt-3 mb-3"><%= page_title %></div>
    <div class="col-5">
      <%= f.input :status, collection: Mycase::STATUS, input_html: {class: "form-select" }%>
      <%= f.input :number, disabled: true %>
      <%= f.association :client, class: "form-select", input_html: {class: "form-select" } %>
      <%= f.input :casetype, collection: Mycase::CASETYPE, input_html: {class: "form-select" }%>
      <%= f.input :insales_custom_status_title, label: "Статус Ins", disabled: true %>
      <%= f.input :insales_financial_status, label: "Фин Статус", disabled: true %>
    </div>
    <div class="col-7">
    <div class="table-responsive">
    <label for="line-table">Позиции заявки</label>
      <table class="table table-primary" id="line-table">
        <thead>
          <tr>
            <th></th>
            <th>Название товара</th>
            <th>Вариант</th>
            <th>Кол-во</th>
            <th>Цена</th>
            <%= tag.th 'Статус позиции' if @mycase.casetype == 'restock' %>
          </tr>
        </thead>
        <tbody>
          <% @mycase.lines.each do |line|%>
            <tr class="line_<%= line.id%>">
            <td><img src="<%= line.product.image_link %>" style="width:100px;"/></td>
              <td><%= line.product.title %></td>
              <td><%= link_to "#{line.variant.insid.to_s }", "http://"+current_user.insints.first.subdomen+"/product_by_id/"+line.variant.product.insid.to_s+"?variant_id="+line.variant.insid.to_s, target: "_blank" %>
                  <br>Артикул: <%= line.variant.sku.to_s  %></td>
              <td><%= line.quantity %></td>
              <td><%= line.price %></td>
              <%= tag.td line.variant.restocks.first.status if @mycase.casetype == 'restock'%>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    
    </div>
  </div>
  <div class="row">
    <div class="col-2 btn-group mt-5">
      <%= f.button :submit, 'Сохранить', class: 'btn btn-success' %>
      <%= link_to close_icon, :back, class: 'btn btn-outline-primary'  %>
    </div>
  </div>
<% end %>
