<div class="col-12 h3 mt-3 mb-3"><%= page_title %></div>
<%= form_with(model: @mycase, local: true) do |f| %>
  <%= render 'shared/errors', object: @mycase %>

  <div class="row">
    <div class="col-3">
      <%= f.label :status, class: "form-label" %>
      <%= f.select :status, Mycase::STATUS, {include_blank: false}, { class: "form-select", disabled: @mycase.casetype == 'restock' || @mycase.casetype == 'preorder' ? true : false} %>
      <%= f.label :number, class: "form-label mt-1" %>
      <%= f.text_field :number, disabled: true, class: "form-control" %>
      <%= f.label :client_id, class: "form-label mt-1" %>
      <%= f.select :client_id, Client.collection_for_select(f.object.client_id).pluck(:name, :id), {include_blank: false}, { class: "form-select", disabled: true} %>
      <%= f.label :casetype, class: "form-label mt-1" %>
      <%= f.select :casetype,  Mycase::CASETYPE, {include_blank: false}, { class: "form-select"} %>
      <%= f.label :insales_custom_status_title, class: "form-label mt-1" %>
      <%= f.text_field :insales_custom_status_title, disabled: true, class: "form-control"%>
      <%= f.label :insales_financial_status, class: "form-label mt-1" %>
      <%= f.text_field :insales_financial_status, disabled: true, class: "form-control" %>
    </div>
    <div class="col-9 ps-3">
      <div class="table-responsive">
        <table class="table" id="line-table">
          <thead>
            <tr>
              <th></th>
              <th>Название товара</th>
              <th>Вариант</th>
              <th>Кол-во</th>
              <th>Цена</th>
              <%= tag.th 'Статус позиции' if @mycase.casetype == 'restock' %>
            </tr>
          </thead>
          <tbody>
            <% @mycase.lines.each do |line| %>
              <tr class="line_<%= line.id %>" style="vertical-align: middle;">
                <td class="p-0" style="width:100px;vertical-align: middle;">
                  <%= image_block(line.product.image_link)%>
                </td>
                <td><%= link_to line.product.title, line.product, class: 'text-decoration-none text-dark', data: {turbo_frame: 'offcanvas_wrap', turbo_stream: true } %></td>
                <td><%= link_to "#{line.variant.insid}", "http://#{current_user.insints.first.subdomen}/product_by_id/#{line.variant.product.insid}?variant_id=#{line.variant.insid}", target: "_blank" %>
                    <br>Артикул: <%= line.variant.sku %></td>
                <td><%= line.quantity %></td>
                <td><%= line.price %></td>
                <%= tag.td(line.variant.restocks.where(mycase_id: @mycase.id).first&.status, class: 'text-center') if @mycase.casetype == 'restock' %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-2 btn-group mt-5">
      <%= f.submit 'Сохранить', class: 'btn btn-success' %>
      <%= link_to close_icon, mycases_path, class: 'btn btn-outline-primary' %>
    </div>
  </div>
<% end %>