
<div class="row">
<div class="col-6">
  <strong>Number:</strong>
  <%= @case.number %>
</div>

<div class="col-6">
  <strong>Client:</strong>
  <%= @case.client_id %>
</div>

<div class="col-6">
  <strong>Casetype:</strong>
  <%= @case.casetype %>
</div>

</div>

<div class="row">
<div class="col-3 btn-group mt-5">
<%= link_to 'Edit', edit_case_path(@case) , class: 'btn btn-success' %> |
<%= link_to 'Back', cases_path, class: 'btn btn-outline-primary' %>
</div>
</div>
