<li class="nav-item <%= 'active' if current_page?(users_path) %>">
  <a class="nav-link" href="<%= users_path %>">Пользователи</a>
</li>
<li class="nav-item <%= 'active' if current_page?(payments_path) %>">
  <a class="nav-link" href="<%= payments_path %>">Платежи</a>
</li>
<li class="nav-item <%= 'active' if current_page?(adminindex_insints_path) %>">
  <a class="nav-link" href="<%= adminindex_insints_path %>">Интеграции</a>
</li>
<li class="nav-item <%= 'active' if current_page?(payplans_path) %>">
  <a class="nav-link" href="<%= payplans_path %>">Планы</a>
</li>
<li class="nav-item <%= 'active' if current_page?(dashboard_services_path) %>">
  <a class="nav-link <%= 'active' if current_page?(dashboard_services_path) %>" href="<%= dashboard_services_path %>">Сервисы</a>
</li>
