
  <footer class="footer mt-auto py-3 bg-light border-top">
    <% if user_signed_in? %>
    <div class="container">
      <div class="row">
        <ul class="list-unstyled text-small list-group list-group-horizontal justify-content-end">
          <li class="list-group-item border-0 bg-transparent d-none d-md-block">
            <a class="text-muted" href="+74997042035">84997042035</a>
          </li>
          <li class="list-group-item border-0 bg-transparent">
            <a class="text-muted" href="mailto:info@myappda.ru">info@myappda.ru</a>
          </li>
          <li class="list-group-item text-muted border-0 bg-transparent">MyAppDA<small> &copy; 2019-<%= Time.now.strftime("%Y" )%></small></li>
        </ul>
        </div>
        </div>
    <% else %>
    <div class="container">
      <div class="row gap-2">
        <div class="col-12 col-sm-3 text-center text-md-start">
          <h5>MyAppDA</h5>
          <h6>это сервис маркетинга для интернет-магазина (email, соц сети, мессенджеры, формы, статистика, аналитика)</h6>
          <ul class="list-unstyled text-small">
            <li>
              <a class="text-muted" href="+74997042035">84997042035</a>
            </li>
            <li>
              <a class="text-muted" href="mailto:info@myappda.ru">info@myappda.ru</a>
            </li>
          </ul>
        </div>
        <div class="col-3 col-md d-none d-md-block">
          <h5>Меню</h5>
          <% menu_array = [['#about-app','О приложении'],['favorite','Избранные товары'],['restock','Собщить о поступлении'],['message','Триггеры'],['documents','Настройка'],['oferta','Оферта'],['disc','Сценарии скидок']]%>
          <ul class="list-unstyled text-small">
            <% menu_array.each do |link, text|%>
            <li>
              <a class="text-muted text-decoration-none" href="/<%= link %>"><%= text %></a>
            </li>
            <% end %>
          </ul>
        </div>
        <div class="col-3 col-md d-none d-md-block">
          <h5>Способы оплаты</h5>
          <ul class="text-small list-group list-group-horizontal d-flex align-items-center">
            <li class="list-group-item bg-transparen border-0 px-1 bg-light">Счет для юр лиц</li>
            <li class="list-group-item bg-transparen border-0 px-1 bg-light"><%= image_tag "/visa-master.png", style:"max-width: 120px;"%></li>
          </ul>
          <p>Прием платежей организован агрегатором
            <a class="text-muted" rel="nofollow noopener" href="http://www.paymaster.ru/" target="_blank">Paymaster</a>
          </p>
        </div>
        <div class="col-3 col-md d-none d-md-block">
          <h5>Наши данные</h5>
          <ul class="list-unstyled text-small">
            <li>ИП Эмексизов Панаёт Алексеевич</li>
            <li>Свидетельство о регистрации - 313774610800128</li>
            <li>ИНН - 772745849012</li>
          </ul>
          <small class="d-block mb-3 text-muted">&copy; 2019-<%= Time.now.strftime("%Y" )%></small>
        </div>
      </div>
    </div>
    <% end %>
  </footer>
