
  <footer class="footer mt-auto py-3 bg-light border-top">
    <% if user_signed_in? %>
    <div class="container">
      <div class="row">
        <ul class="list-unstyled text-small list-group list-group-horizontal justify-content-end">
          <li class="list-group-item border-0 bg-transparent d-none d-md-block">
            <a class="text-muted" href="+74997042035">84997042035</a>
          </li>
          <li class="list-group-item border-0 bg-transparent">
            <a class="text-muted" href="mailto:info@myappda.ru">info@myappda.ru</a>
          </li>
          <li class="list-group-item text-muted border-0 bg-transparent">MyAppDA<small> &copy; 2019-<%= Time.now.strftime("%Y" )%></small></li>
        </ul>
        </div>
        </div>
    <% else %>
    <div class="container">
      <div class="row gap-2">
        <div class="col-12 col-sm-3 text-center text-md-start">
          <h5 class="text-danger">MyAppDA</h5>
          <div class="text-muted mb-3">маркетинга для интернет-магазина</br>(email, соц сети, мессенджеры, формы, статистика, аналитика)</div>
          <ul class="list-unstyled text-small">
            <li>
              <a class="text-muted" href="+74997042035">84997042035</a>
            </li>
            <li>
              <a class="text-muted" href="mailto:info@myappda.ru">info@myappda.ru</a>
            </li>
          </ul>
        </div>
        <div class="col-3 col-md d-none d-md-block">
          <% menu_array = [['#about-app','О приложении'],['favorite','Избранные товары'],['restock','Собщить о поступлении'],['message','Тарифы'],['documents','Настройка'],['oferta','Оферта'],['disc','Сценарии скидок']]%>
          <ul class="list-unstyled text-small">
            <% menu_array.each do |link, text|%>
            <li>
              <a class="text-muted text-decoration-none" href="/<%= link %>"><%= text %></a>
            </li>
            <% end %>
          </ul>
        </div>
        <div class="col-3 col-md d-none d-md-block">
          <h6 class="text-muted">Способы оплаты</h6>
          <ul class="text-small list-group list-group-horizontal d-flex align-items-center">
            <li class="list-group-item bg-transparen border-0 px-1 bg-light text-muted">Счет для юр лиц</li>
            <li class="list-group-item bg-transparen border-0 px-1 bg-light"><%= image_tag "/visa-master.png", style:"max-width: 120px;"%></li>
          </ul>
          <div class="d-flex flex-column">
            <span class="text-muted">Прием платежей организован агрегатором</span>
            <a class="text-muted" rel="nofollow noopener" href="http://www.paymaster.ru/" target="_blank">Paymaster</a>
          </div>
        </div>
        <div class="col-3 col-md d-none d-md-block">
          <h6 class="text-muted">Наши данные</h6>
          <ul class="list-unstyled text-small text-muted">
            <li>ИП Эмексизов Панаёт Алексеевич</li>
            <li>Свидетельство о регистрации - 313774610800128</li>
            <li>ИНН - 772745849012</li>
          </ul>
          <small class="d-block mb-3 text-muted">&copy; 2019-<%= Time.now.strftime("%Y" )%></small>
        </div>
      </div>
    </div>
    <% end %>
  </footer>
