<nav class="navbar navbar-expand-lg px-1 px-md-0 py-3 py-lg-0 navbar-dark" style="background-color: #444444;">
  <div class="header-wrap container-fluid px-4 d-flex align-items-center py-0">
    <a class="navbar-brand p-0 m-0" href="<%= root_path %>">
      <%= image_tag "new_logo_myappda_white.svg", data: {src: "new_logo_myappda_white.svg", title: 'MyAppDa'}, class: 'logo logo_white' %>
    </a>
    <% if current_user != true_user %>
      <ul class="navbar-nav mx-auto">
        <%= button_to "You (#{true_user.name }) are signed in as #{current_user.name }<br>Back to admin".html_safe, stop_impersonating_users_path, data: {turbo: false}, class: "btn text-white"  %>
      </ul>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <i class="bi bi-list"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ms-auto py-0">
        <%= render "/layouts/admin_navigation" if current_admin %>
        <%= render "/layouts/user_navigation" unless current_admin %>
      </ul>

      <div class="navbar-nav ms-auto py-0">
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle text-white" role="button" data-bs-toggle="dropdown" aria-expanded="false"><%= current_user.name %></a>
            <div class="dropdown-menu m-0">
              <%= link_to "Выйти", destroy_user_session_url, data: { turbo_method: :delete }, class: 'dropdown-item text-decoration-none' %>
            </div>
          </div>
      </div>
    </div>
  </div>
</nav>