 <div class="d-flex">
    <%= render partial: 'layouts/nav_sidebar' %>
    <div class="d-flex flex-column w-100">
        <%= tag.header class:"header sticky-top d-flex justify-content-between align-items-center p-2" do %>
            <button class="btn btn-outline-secondary border-0" id="burgerButton"><i class="bi bi-list"></i></button>

            <%= form_with url: fullsearch_dashboards_path, method: :post, class: "d-none d-sm-inline-block ms-auto me-5", id: "fullsearch_result_form",
            data: {controller: "debounce", debounce_target: "form", turbo_stream: true} do |f|%>
                <div class="input-group position-relative d-inline-flex align-items-center">
                    <%= f.search_field :query, class: 'form-control', style: "z-index: 2;", placeholder: t('search'), 'aria-label': "Search", data: {action: "input->debounce#search"}, autocomplete: 'off' %>
                    <button type="button" class="btn position-absolute end-0" aria-label="Close", data-action = "click->debounce#clear">
                        <i class="bi bi-x"></i>
                    </button>
                </div>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" id="fullsearch_result" aria-labelledby="fullsearch_result_form"></div>
            <% end %>

            <div class="d-flex align-items-center">
                <i class="bi bi-bell me-3"></i>
                <div class="dropdown">
                    <%= tag.button class: "btn btn-outline-secondary dropdown-toggle", type: "button", id: "userMenu", data: { bs_toggle: "dropdown" }, aria: { expanded: "false" } do %>
                        <i class="bi bi-person"></i>
                    <% end %>
                    <%= tag.ul class: "dropdown-menu", aria: { labelledby: "userMenu" } do %>
                        <%= tag.li do %>
                            <%= link_to 'Выйти', destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
                        <% end %>
                    <% end if user_signed_in? %>
                </div>
            <%= tag.div id: "our_flash", class: "position-absolute z-1 start-50 translate-middle-x w-50", style: "top: 60px;" do %>
                <%= render "shared/flash" %>
            <% end %>
        <% end %>
        <main class="d-flex flex-column w-100 p-0">
            <div class="container-fluid">
                <%= turbo_stream_from [Apartment::Tenant.current, :bulk_actions] if user_signed_in? %>
                <%= render "shared/modal_wrap"%>
                <%= render "shared/offcanvas_wrap" %>
                <%= yield %>
            </div>
        </main>
        <footer class="footer p-3 sticky-bottom">
            <div class="text-center">Поддержка: <a href="mailto:info@myappda.ru">info@myappda.ru</a></div>
        </footer>
    </div>
 </div>