<li class="nav-item <%= 'active' if current_page?(mycases_path) %>">
  <a class="nav-link text-white " href="<%= mycases_path %>">Заявки</a>
</li>
<li class="nav-item <%= 'active' if current_page?(clients_path) %>">
  <a class="nav-link text-white " href="<%= clients_path %>">Клиенты</a>
</li>
<li class="nav-item <%= 'active' if current_page?(products_path) %>">
  <a class="nav-link text-white " href="<%= products_path %>">Товары</a>
</li>
<li class="nav-item dropdown">
  <a class="nav-link text-white  dropdown-toggle" href="#" id="navbardrop" data-bs-toggle="dropdown">Триггеры</a>
  <div class="dropdown-menu">
    <a class="dropdown-item <%= 'active' if current_page?(events_path) %>" href="<%= events_path %>">События</a>
    <a class="dropdown-item <%= 'active' if current_page?(templates_path) %>" href="<%= templates_path %>">Шаблоны</a>
  </div>
</li>
<li class="nav-item <%= 'active' if current_page?(discounts_path) %>">
  <a class="nav-link text-white " href="<%= discounts_path %>">Сценарии скидки</a>
</li>
<li class="nav-item dropdown">
  <a class="nav-link text-white  dropdown-toggle" href="#" id="navbardrop" data-bs-toggle="dropdown">Настройки</a>
  <div class="dropdown-menu">
    <%= link_to 'Аккаунт', dashboard_path, class: current_page?(dashboard_path) ? 'dropdown-item active' : 'dropdown-item' %>
    <%= link_to 'Почта', email_setups_path, class: current_page?(email_setups_path) ? 'dropdown-item active' : 'dropdown-item' %>
    <%= link_to 'Сервисы', dashboard_services_path, class: current_page?(dashboard_services_path) ? 'dropdown-item active' : 'dropdown-item' %>
    <%= link_to 'Счета', invoices_path, class: current_page?(invoices_path) ? 'dropdown-item active' : 'dropdown-item' %>
    <%= link_to 'Интеграция insales', insints_path, class: current_page?(insints_path) ? 'dropdown-item active' : 'dropdown-item' %>
  </div>
</li>

