<!DOCTYPE html>
<html>
  <head>
    <%= render partial: 'layouts/head' %>
    <%# render partial: 'layouts/metrics' unless Rails.env.development? %>

    <%# action_cable_meta_tag if Rails.env.development? %>
    <%# hotwire_livereload_tags if Rails.env.development? %>
  </head>
  <body class="<%= current_page_path_as_class %>  <%= user_signed_in? ? 'admin-body' : 'home-body' %>">
    <% if user_signed_in? %>
     <%= render partial: 'layouts/signed' %>
    <% else %>
      <%= render partial: 'layouts/home' %>
      <%= render partial: "layouts/footer" if check_current_page_show_this_part? %>
    <% end %>
  </body>
</html>
