<!DOCTYPE html>
<html class="h-100">
  <head>
    <%= render partial: 'layouts/head' %>
    <%= render partial: 'layouts/metrics' %>
  </head>
  <body class="<%= current_page_path_as_class %> d-flex flex-column h-100">
    <% if user_signed_in? %>
      <header class="bg-444444">
        <div class="container">
        <%= render 'layouts/navigation' %>
        </div>
      </header>
    <% end %>
    <main class="flex-shrink-0">
      <div id="main-content" class="container-fluid">
        <div id="our_flash">
          <%= render "shared/flash"%>
        </div>

        <%= yield %>
      </div>
    </main>
    <%= render partial: "/layouts/footer" if check_current_page_show_this_part? %>
    <%= render partial: "/layouts/zammad"%>
    <%= render partial: "/layouts/messengers"%>
    <%= render partial: "/layouts/modal"%>
    </body>
  </html>
