
<div class="row">
<div class="col-6">
  <strong>Title:</strong>
  <%= @restock_setup.title %>
</div>

<div class="col-6">
  <strong>Handle:</strong>
  <%= @restock_setup.handle %>
</div>

<div class="col-6">
  <strong>Description:</strong>
  <%= @restock_setup.description %>
</div>

<div class="col-6">
  <strong>Status:</strong>
  <%= @restock_setup.status %>
</div>

</div>

<div class="row">
<div class="col-3 btn-group mt-5">
<%= link_to 'Edit', edit_restock_setup_path(@restock_setup) , class: 'btn btn-success' %> |
<%= link_to 'Back', restock_setups_path, class: 'btn btn-outline-primary' %>
</div>
</div>
